@font-face {
  font-family: "Hakgyoansim_NalgaeR";
  src: url("/Hakgyoansim_NalgaeR.ttf");
}

body * {
  font-family: "Hakgyoansim_NalgaeR";
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
del,
em,
img,
q,
s,
samp,
small,
strike,
strong,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  word-break: break-all;
}
li,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
button {
  margin: 0;
  padding: 0;
  color: none;
  border: none;
  outline: none;
  background: none;
}
